.logo img {
    margin-top: 1rem;
    width:  25rem;
    margin-left: 3rem;
}
.titulo {
    color: $white;
    margin: 0 3rem;

    .contenido-titulo h1 {
        font-size: 4rem;
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        text-align: justify;
        line-height: 6rem;
        margin: 0 2.5rem;
    }
}