.nav-bar {
    background-color: #6D6D6D;
    display: flex;
    justify-content: space-evenly;

    & .contenedor {
        margin-bottom: .25rem;
        padding: .5rem 0;

        /* -- Estilos barra busqueda y boton buscar -- */
        & .container-fluid {

            & .navbar-collapse {

                & .nav-principal {

                    & .nav-item {
                        margin: 0 2rem;
                        
                        & a {
                            @include nav-op-st;
                            margin: 0 2rem;
        
                            &:hover {
                                @include hover-nav-st;
                            }
                        }

                        & .select__pfm--st {
                            @include nav-op-st;
                            margin: .2rem 1rem;
                            background-color: #6D6D6D;
                            border: none;

                            &:focus {
                                border-color: #6D6D6D;
                                outline: 0;
                                box-shadow: none;
                            }
        
                            &:hover {
                                @include hover-nav-st;
                            }
                        }
                    }
                }
    
                & .formulario-search {
                    height: 3.5rem;

                    & .buscar{
                        font-size: 1.5rem;
                    }
                
                    & .btn-st {
                        margin-left: 1rem;
                        width: 15rem;
                        background-color: $white;
                        font-size: 1.3rem;
                        font-weight: bold;
                        border: solid black;
                        color: $black;
                
                        &:hover{
                            cursor: pointer;
                            background-color: aqua;
                        }
                    }
                }

                & .nav-icon {
                    margin-left: 2rem;

                    & .nav-icon__img {
                        position: relative;

                        & .nav-icon__img-sty {
                            width: 4rem;
                            height: 4rem;
                            stroke: $black;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    & .contar-productos {
                        position: absolute;
                        top: 55%;
                        right: 0;
                        background-color: $black;
                        color: $white;
                        width: 2.5rem;
                        height: 2.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                    }

                    & #contador-productos{
                        font-size: 1.2rem;
                        font-weight: bold;
                    }

                    & .contenedor-productos-carrito {
                        position: absolute;
                        top: 6.6rem;
                        right: 0;
                        background-color: $white;
                        width: 50rem;
                        z-index: 1;
                        border: solid;
                        border-radius: 1rem;
                        box-shadow: 0 1rem 2rem rgba(0,0,0,0.20);


                        & .productos-carrito {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 3rem;
                            border-bottom: 0.1rem solid rgba(0,0,0,0.20);

                            & .info-producto-carrito {
                                display: flex;
                                justify-content: space-between;
                                flex: 1;

                                & .cantidad-producto-carrito {
                                    font-weight: 400;
                                    font-size: 2rem;
                                }

                                & .nombre-producto {
                                    font-size: 2rem;
                                }

                                & .tipo-cuenta {
                                    font-size: 2rem;
                                }

                                & .precio-producto {
                                    font-size: 2rem;
                                    font-weight: 600;
                                    margin-left: .5rem;
                                    margin-right: 1.3rem;
                                }
                            }

                            & .icon-close {
                                width: 2.5rem;
                                height: 2.5rem;
                                margin-bottom: 1rem;
                                margin-left: 1.5rem;

                                &:hover {
                                    stroke: red;
                                    cursor: pointer;
                                }
                            }
                        }

                        & .carrito-total {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 2rem 0;
                            gap: 2rem;

                            & h3 {
                                font-size: 2rem;
                                font-weight: 500;
                            }

                            & .total-pagar {
                                font-size: 2rem;
                                font-weight: 800;
                            }
                        }
                    }

                    & .carrito-oculto {
                        display: none;
                    }
                }
            }
        }
    }
}
