/* --- Vista mobile -- */
@media screen and (max-width: 480px) {

    .nav-bar {

        & .contenedor {

            & .container-fluid {

                & .navbar-collapse {

                    & .formulario-search {
                        width: 94%;
                
                        & .buscar {
                            // width: 20rem;
                            width: 50%;
                        }
                    }

                    & .nav-icon {

                        & .contar-productos {
                            right: 42%;
                        }

                        & .contenedor-productos-carrito {
                            top: 100%;
                            right: 4%;
                            width: 93%;

                            & .productos-carrito {

                                & .info-producto-carrito {

                                    & .cantidad-producto-carrito {
                                        font-size: 1.5rem;
                                        margin-right: 2rem;
                                    }
    
                                    & .nombre-producto {
                                        font-size: 1.5rem;
                                        margin-right: 1rem;

                                    }
    
                                    & .tipo-cuenta {
                                        font-size: 1.5rem;
                                        margin-right: 1rem;
                                    }
    
                                    & .precio-producto {
                                        font-size: 1.5rem;
                                        margin-left: .5rem;
                                        margin-right: 1.3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* Ofertas */
    .ofertas .promociones {
        height: 84rem;

        @each $juego, $img in $img-juego {
            #contenedor-#{$juego} .img-juego {
                /* Dimensiones de las imagenes del juego en el Slider */
                width: 32rem;
            }
        }

        & .boton-slider {
            left: 33vw;
        }
    }
    /* Plataformas */
    .exclusivos {
        width: 100%;

        & .container__plataforma {

            & .card-container {
                    
                & .card__container--st {
                    width: 95%;
                }
            }
        }
    }
    /* Pago */
    .game-info {

        & .grid-container-pago {

            & .card-container-pago {
                
                & .img--juego {
                    width: 90%;
                }
            }

            & .card-container-form-pago {
                width: 90%;
            }
        }
    }
    /* Planes y precios */
    .planes .planes-info {
        
        & .card {
            width: 31rem;
        }
    }
    /* carrito compras*/
    .btn__comprar {

        & .btn__comprar--cart {
            margin-right: 1rem;
            margin-left: 1rem;
        }
    
        & .btn__seguircomprando--sty {
            margin-right: 1rem;
            margin-left: 1rem;
        }

    }
}