/* --- Vista Escritorio -- pantallas extra grandes -- */
@media screen and (max-width: 1400px) {
    .titulo .contenido-titulo h1 {
        font-size: 3rem;
    }
    .nav-bar {
        & .contenedor {

            & .container-fluid {

                & .navbar-collapse{

                    & .nav-principal {

                        & .nav-item {

                            & a {
                                font-size: 1.5rem;
                            }

                            & .select__pfm--st {
                                font-size: 1.5rem;
                                margin: 0 1rem;
                            }
                        }
                    }
                    & .formulario-search {
                        margin-left: 3rem;
                        height: 2.5rem;
                        width: 20rem;

                        & .buscar{
                            font-size: 1.5rem;
                        }

                        & .btn-st {
                            height: 2.7rem;
                            width: 10rem;
                            font-size: 1.2rem;
                        }
                    }

                    & .nav-icon {

                        & .nav-icon__img {
    
                            & .nav-icon__img-sty {
                                margin-left: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
    /* -- Ofertas -- */
    .ofertas {

        & .promociones {
            width:95%;
    
            @each $contenedor in $contenedor {
                #contenedor-#{$contenedor} .img-juego {
                    width: 400rem;
                }
            }
        }
    }
     /* Pago */
     .game-info {
        width: 100%;

        & .grid-container-pago {
            grid-template-columns: 1.5fr 1fr;
            grid-column-gap: 1rem;

            & .card-container-pago {
                flex-direction: column;

                & .img--juego {
                    width: 70%;
                    margin: 0 auto;
                }
            }

            & .card-container-form-pago {
                width: 90%;
            }
        }
    }
    /* -- Planes y precios -- */
    .planes .planes-info {
        grid-template-rows: unset;
        gap: 3rem;
    }
    /* Plataformas */
    .exclusivos {

        & .container__plataforma {
            max-width: 95%;

            & .card-container {
                margin-left: unset;

                & .card__container--st {
                    width: 95%;
                }
            }
        }
    }
    /* -- Contactanos -- */
    .formulario {
        
        & .formulario-informacion {
            padding: 4rem 4rem 4rem 5rem;

            & label {
                margin-right: 0;
            }

            & .fieldset-container {
                display: inline-block;

                & .form-check {

                    & .check-in-wh {
                        margin-left: unset;
                    }
                }
            }

            & .btn-container {

                & .btn-form {
                    width: 25%;
                }
            }
        }
    }
}