/* --- Vista Tablets grande --- */
@media screen and (max-width: 990px) {
    header {
        flex-direction: row;
        justify-content: unset;
    }
    .logo img {
        margin-left: 3rem;
    }
    .titulo .contenido-titulo h1 {
        font-size: 2.3rem;
        line-height: 6rem;
    }
    .nav-bar {
        & .contenedor {
            width: 100%;
    
            & .container-fluid {
                /* Boton hamburguesa del navbar */
                justify-content: center;
                align-items: center;
    
                & .navbar-toggler {
                    background-color: #CBCBCB;
                }
    
                & .navbar-collapse {
    
                    & .nav-principal {

                        & .nav-item {
                            display: flex;
                            justify-content: center;

                            & a {
                                font-size: 1.8rem;
                            }

                            & .select__pfm--st {
                                width: 70%;
                                font-size: 1.8rem;
                                text-align: center;
                                margin: unset;
                            }
                        }
                    }
    
                    & .formulario-search {
                        /* Boton hamburguesa seccion formulario buscar */
                        margin: 0 auto;
                        margin-left: 1.1vw;
                        margin-bottom: 1rem;
                        height: 3rem;
                        width: 100%;
        
                        & .buscar {
                            width: 80%;
                        }
        
                        & .btn-st {
                            height: unset;
                            width: 12rem;
                        }
                    }

                    & .nav-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        & .nav-icon__img {
    
                            & .nav-icon__img-sty {
                                padding-bottom: .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    /* Ofertas */
    .ofertas .promociones {
        height: 51rem;

        @each $contenedor in $contenedor {
            #contenedor-#{$contenedor} .img-juego {
                width: 250rem;
                height: 35rem;
            }
        }

        & .informacion {

            & .info-descripcion {
                font-size: 1.8rem;

                & span{
                    display: none;
                }

                & b {
                    font-size: 2.5rem;
                }
            }

            & .star-rating span {
                margin-bottom: 3rem;
            }
        }

        & .boton-slider {
            left: 43%;
            bottom: 1.5%;
        }
    }
    /* -- Planes y precios -- */
    .planes .planes-info {
        gap: 3rem;

        & .card{
            margin-bottom: 3rem;
            width: 22rem;
        }

        & .ps-plus-img {
            height: 50%;
        }

        & .game-pass-img {
            height: 50%;
        }
    }
    /* Plataformas */
    .exclusivos {
        width: 80%;

        & .container__plataforma {

            & .card-container {
                grid-template-columns: 1fr;
                justify-content: center;

                & .card__container--st {
                    width: 80%;
                    margin-bottom: 4rem;
                    margin: 0 auto;
                }
            }
        }
    }
    /* Pago */
    .game-info {

        & .grid-container-pago {
            grid-template-columns: 1fr;

            & .card-container-pago {
                margin-left: unset;
                flex-direction: column;
            }

            & .card-container-form-pago {
                margin-top: 3rem;
                width: 50%;
            }
        }
    }
    /* Footer */
    .redes {

        & h3  {
            width: 15%;
        }

        & .redes-icon {

            & img {
                width: 60px;
                height: 60px;
            }
        }
    }
    /* -- Quienes Somos -- */
    .container-principal {
        & .layout__cont {
            display: unset;
    
            & .logo {
                margin: 0 0 2rem 0;
    
                & .logo--st {
                    margin: 0 0 2rem 0;
                }
            }
    
            & .descripcion-empresa .texto--des {
                padding: 0 3rem 0 3rem;
                margin-bottom: 4rem;
            }
        }

        & .cont-mbl {
            /* Informacion contacto */
            width: 100%;
        }

        & .contacto-info {
            margin-bottom: 3rem;

            & .content__info {

                & .contacto--sty {
                    font-size: 2rem;
                    font-weight: bold
                }

                & .icon-sty {
                    width: 5rem;
                    height: 5rem;
                }

                & .texto--cont {
                    font-size: 1.8rem;
                }
            }
        }
    }
    /* -- Contactanos -- */
    .formulario {

        & h3 {
            text-align: center;
            padding: 0 8rem;
        }

        & .formulario-informacion {
            width: 80%;

            & .fieldset-container {

                & .form-check {

                    & .check-w {
                        width: 25%;
                        margin-top: 2rem;
                        margin-left: 9rem;
                    }

                    & .check-in-wh {
                        width: 3rem;
                        height: 3rem;
                    }

                    & .check-lb {
                        padding: .5rem;
                    }
                }
            }
            
            & .textarea-container  {

                & .textarea-label {
                    /* Text area formulario */
                    margin: 0 0 1rem 0;
                }
            }
        }
    }
}
